node_modules/
modules/win-explorer/node_modules
modules/win-explorer/package-lock.json
modules/win-explorer/.vscode
modules/win-explorer/test
modules/win-explorer/build
modules/win-explorer/bin
public/build/*
images/
./files*
test.js

*.map
*.db
*.log
*.lock
*.env
*.db-journal
./rollup.config.js
./images
bundle.js
extra.css
notes.json
notes-adult.json
zserver/app.js
db.json
mediaserver.sqlite
datas.json
build/
server/public/*
./images/*
backup/*
/server/security/*