node_modules/
modules/win-explorer/node_modules
modules/win-explorer/package-lock.json
modules/win-explorer/.vscode
modules/win-explorer/test
modules/win-explorer/build
modules/win-explorer/bin
public/build/*
/images/
./files*

*.db
*.log
*.lock
*.env
