*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #14243d;
  background: radial-gradient(ellipse at center, #14243d 0, #030611 100%);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

#root {
  height: 100%;
  width: 100%;
}

.scroll-container {
  position: relative;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
  padding-top: 39px;
}

.files-list {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.controls {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 5px 4px 5px;
  z-index: 1;
  pointer-events: none;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-item a:active i {
  transition: 0.1s all;
  transform: scale(1.2);
}

.nav-item .active {
  border-bottom: 1px solid;
}

#menu a {
  padding: 4px 6px;
  cursor: pointer;
}

#menu .nav-item {
  display: inherit;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: white;
  transition: 0.3s all;
  background-color: grey;
  background-image: linear-gradient(-120deg, #888888, #555555, #888888);
}

.btn:hover {
  color: white;
  background-image: linear-gradient(-160deg, #888888, #555555, #444444);
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn:active {
  transform: scale(1.2);
  transition: 0.25s;
}

/* Clear input text icon*/

input,
button {
  overflow: visible;
}

input[type="text"] + span {
  display: none !important;
  position: absolute;
  top: 0px;
  right: 6px;
  z-index: 99;
  color: darkgray;
  font-size: 20px;
}

input[type="text"]:not(:placeholder-shown) + span {
  display: initial !important;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.input-group-prepend {
  display: -ms-flexbox;
  display: flex;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group .form-control {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.p-3 {
  padding: 1rem;
}

.bg-dark {
  background-color: #343a40 !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/*************************Scrollbar Style********************************/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 123, 255, 0.95);
  box-shadow: inset 0 0 6px rgba(15, 1, 228, 0.9);
}

.file.active .file-info {
  background-color: rgba(0, 15, 150) !important;
  box-shadow: 0 0 10px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  border: 1px solid white;
  padding: 5px;
}

.table {
  margin: 0;
}

.table thead {
  user-select: none;
}

.table th,
.table td {
  padding: 0.5rem 1rem;
}

.table td:only-child {
  text-align: center;
}

.table td:first-child,
.table th:first-child {
  width: 100px;
  padding: 0.4rem 0.8rem;
  vertical-align: middle;
  text-align: center;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

/* Directory Style */

i,
span i,
label i {
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

i:active,
a:active i,
label:active i,
span:active i,
.page-link:active i {
  transform: scale(1.2);
}

.table tr {
  border: 2px solid #444444;
}

h4 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.75rem;
}

.text-center {
  text-align: center;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #454d55;
  border-top-color: rgb(69, 77, 85);
  border-right-color: rgb(69, 77, 85);
  border-bottom-color: rgb(69, 77, 85);
  border-left-color: rgb(69, 77, 85);
}

.table span:last-child {
  margin-left: 0.5rem;
}

.fa,
.fas,
.far {
  user-select: none;
}

.fa-folder-open,
.fa-folder {
  color: rgb(250, 183, 15);
}

.fa-book {
  color: rgb(202, 48, 48);
}

.fa-home {
  color: rgb(17, 218, 201);
}

.fa-sync,
.fa-edit,
.fa-film {
  color: rgb(37, 140, 209);
}

.fa-heart {
  color: rgba(248, 224, 6, 0.952);
}

.fa-trash-alt {
  color: rgba(252, 1, 1, 0.856);
}

.fa-folder-open + .file-progress {
  background-color: rgba(252, 1, 1, 0.856);
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.35rem 0.4rem;
  color: #343a40;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.list-group-item.active .fa-edit {
  color: white;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-link:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-link:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#current-page input {
  height: 30px;
}

/*************Modal*************************/

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  display: block;
  z-index: 99;
  min-height: initial;
  min-width: initial;
  height: max-content;
  width: 350px;
  background-color: cadetblue;
}

.modal-header > * {
  text-align: center;
  user-select: none;
}

.modal .errors {
  color: rgb(226, 35, 35);
  font-size: 20px;
}

.modal label,
.modal .form-control {
  padding: 5px;
  margin: 4px 0;
}

.modal label {
  width: 55px;
  justify-content: space-evenly;
  user-select: none;
  font-weight: 600;
}

.modal label i {
  font-size: 20px;
}

.modal-header h3 {
  margin-bottom: 0;
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.modal-footer .btn {
  min-width: 75px;
  margin: 0 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/***************File Style****************************/

.items {
  color: #fff;
  background-color: #007bff;
  padding: 0.25em 0.7em;
  font-size: 75%;
  font-weight: 700;
  line-height: 2;
  border-radius: 0.25rem;
}

.file {
  position: relative;
  outline: none;
  background-color: transparent;
  padding: 5px;
  width: 200px;
  min-width: 200px;
  height: 270px;
  transition: 0.2s all;
}

.file-info {
  text-align: center;
  width: 190px;
  height: 260px;
  min-height: 260px;
  padding: 5px;
  background-color: rgba(52, 58, 64, 0.99);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.file-info:hover {
  position: absolute;
  height: fit-content;
  box-shadow: 0 0 10px;
  z-index: 1;
}

.file-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4em;
  height: 26px;
  z-index: 1;
  user-select: none;
  cursor: initial;
}

.file-progress {
  font-size: 14px;
  font-family: monospace;
  font-weight: 600;
  pointer-events: none;
  height: fit-content;
}

.file-btn-left:empty {
  display: none;
}

.file-btns i {
  cursor: pointer;
}

.file-del {
  color: brown;
}

.file-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  overflow: hidden;
}

.file-cover img {
  max-width: 190px;
  max-height: 170px;
  pointer-events: none;
  position: relative;
  user-select: none;
}

.file-cover:hover > img {
  max-width: none;
  max-height: none;
}

.file-cover img[alt]:after {
  position: absolute;
  top: -3px;
  left: -1px;
  background-color: rgba(52, 58, 64, 0.99);
  font-family: "Helvetica";
  font-weight: 300;
  content: attr(alt);
  border-radius: 5px;
  padding: 2px 5px;
  min-width: 100%;
}

.file-name {
  position: relative;
  text-align: center;
  user-select: text;
}

.file-name:hover,
.file-info:hover .file-name {
  display: inline-block;
  z-index: 999;
  top: 5px;
  line-height: 1.5;
}

.file-btns i:active {
  transform: scale(1.3);
}

.fas.fa-star {
  color: rgb(255, 238, 0);
}

/************************/

.first-controls {
  position: absolute;
  z-index: 99;
}

.first-controls input[type="checkbox"]:not(:checked) + div {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.first-controls .fas {
  font-size: 30px;
}

.first-controls + div {
  margin-left: 40px;
}

/***************************Manga Viewer**************************************/

#manga-viewer {
  position: relative;
  height: 100%;
  width: 100%;
  outline: none;
}

#manga-viewer .viewer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 37px;
  padding-bottom: 33px;
}

#manga-viewer .img-current {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  min-height: 100%;
  height: 100%;
  outline: none;
}

#manga-viewer .img-current img {
  -webkit-user-drag: none;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  object-fit: cover;
}

#manga-viewer .webtoon-img {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  overflow-y: auto;
  overflow-x: hidden;
}

#manga-viewer .webtoon-img img {
  height: auto;
  width: 100%;
  max-height: initial;
}

#manga-viewer .img-current .empty-img {
  position: relative;
  color: black;
  min-height: 100%;
  min-width: 600px;
}

#manga-viewer .empty-img:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgb(218, 214, 214);
}

#manga-viewer .empty-img:after {
  content: "Loading Images";
  position: absolute;
  top: 46%;
  left: calc(50% - 108px);
  font-size: 30px;
  z-index: 2;
}

#manga-viewer .controls > span {
  padding: 4px 8px;
  max-height: initial;
}

#manga-viewer i {
  font-size: 25px;
  transition: 0.1s all;
}

#manga-viewer .current-page input {
  position: relative;
  top: -1px;
  height: 26px;
  max-width: 80px;
  text-align: center;
  min-width: 70px;
  outline: none;
  border: none;
  border-radius: 0.25rem;
}

:fullscreen #manga-viewer .viewer {
  padding: 0;
}

:fullscreen #manga-viewer.hide .controls {
  opacity: 0;
}

:fullscreen #manga-viewer.hide .controls span {
  transform: translateY(34px);
  transition: 0.3s all;
}

input[type="range"] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */

input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 0.25rem;
  border: 0.2px solid #010101;
  margin-top: 0.5px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}

:fullscreen #play-list.move {
  top: 0;
}

@media screen and (max-width: 600px) {
  #manga-viewer .img-current {
    transform: initial;
    width: 100%;
  }
  #manga-viewer .controls > span {
    padding: 4px 5px;
  }
  #manga-viewer .img-current .empty-img {
    height: 227px;
    min-height: 227px;
    width: 100%;
  }
  #manga-viewer .img-current.webtoon-img img:not(.empty-img) {
    height: auto;
  }
}

#manga-viewer.hide .controls {
  bottom: -34px;
}

#manga-viewer.hide .viewer {
  padding: 0;
}

/****************************************************************/

@media screen and (max-width: 420px) {
  .files-list {
    padding-bottom: 70px;
    width: 370px;
    margin: auto;
  }
  .scroll-container {
    padding-top: 55px;
  }
  .file {
    width: 185px;
    min-width: 185px;
  }
  .file-info {
    width: 175px;
  }
}

/*************************************************/

@media screen and (max-width: 480px) {
  #menu a {
    display: inline-block;
    text-align: center;
  }
  ::-webkit-scrollbar {
    width: 0;
  }

  #manga-viewer .viewer {
    padding-top: 56px;
  }
}

/*************************************************************/
