#hotkey-config {
  color: white;
  height: 100%;
  overflow: auto;
}

#hotkey-config fieldset {
  height: max-content;
  border-radius: 0.4rem;
  background-color: rgb(36, 35, 35);
  margin: 0 auto;
}

#hotkey-config .btn-bar {
  text-align: right;
  padding-bottom: 5px;
  padding-right: 5px;
}

#hotkey-config .controls button {
  margin-left: 5px;
}

@media screen and (max-width: 500px) {
  #hotkey-config fieldset {
    margin: 0 20px;
  }
}