*:active > svg {
  transform: scale(1.15);
  transition: 0.2s;
}

* {
  outline: none;
}

.scroll-container {
  position: relative;
  height: calc(100% - 38px);
  min-height: calc(100% - 38px);
  overflow-y: auto;
}

.files-list {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 5px 2px 80px;
}

.file:hover .file-info,
.file.active .file-info {
  height: fit-content;
  padding-bottom: 5px;
  box-shadow: 0 0 10px;
  background-color: rgba(0, 15, 150);
}

.controls {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  margin: 4px;
  margin-top: 0;
  z-index: 99;
}

svg {
  cursor: pointer;
}

svg:hover {
  filter: drop-shadow(0px 0px 5px rgb(255 255 255 / 0.8));
}

button:active {
  transform: scale(1.2);
  transition: 0.25s;
}

/***************File Style****************************/

.file {
  position: relative;
  display: flex;
  justify-content: center;
  outline: none;
  background-color: transparent;
  height: 390px;
  width: 265px;
  min-width: 195px;
  transition: 0.2s all;
  margin: 10px 0px;
}

.file-info {
  position: relative;
  text-align: center;
  width: calc(100% - 15px);
  min-height: 390px;
  background-color: #343a40fc;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.file-cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  background-color: #2f2f2f;
}

.file-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4em;
  height: 26px;
  z-index: 1;
  cursor: initial;
  width: 100%;
  padding: 0 5px;
  margin: 6px 0;
}

.file.active {
  z-index: 2;
}

.file:hover {
  z-index: 3;
}

.file-progress {
  font-size: 14px;
  font-family: monospace;
  font-weight: 600;
  pointer-events: none;
  height: fit-content;
}

.file-btn-left:empty {
  display: none;
}

.file-btns i {
  cursor: pointer;
}

.file-del {
  color: brown;
}

.file-cover img {
  min-width: 100%;
  max-height: 100%;
  pointer-events: none;
  position: relative;
}

.file-cover > span {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 4px;
  background-color: #2f2f2f;
}

.file-cover .f-status {
  display: inline-block;
  width: auto;
  right: 0;
  top: 0;
  bottom: initial;
  border-radius: 0.25rem 0 0 0.25rem;
  background-color: #05a100;
  font-size: 0.85rem;
}

.file-cover .f-date,
.file-cover .f-size {
  left: 0;
  width: initial;
  border-top-left-radius: 0.25rem;
  font-size: 0.85rem;
}

.file-cover .completed {
  background-color: red;
}

.file-cover .f-raw {
  display: inline-block;
  position: absolute;
  width: inherit;
  left: 0;
  top: 0;
  bottom: initial;
  background-color: red;
  border-bottom-right-radius: 0.25rem;
  font-size: 0.85rem;
}

.file .file-cover .hidden {
  display: none;
}

.file .f-date {
  width: max-content;
  right: 0;
  left: initial;
  border-radius: 0 0 0 0.25rem;
  font-size: 0.85rem;
}

.file-name {
  position: relative;
  text-align: center;
  padding: 0 5px;
}

.file-info:hover .file-name {
  display: inline-block;
  z-index: 401;
  line-height: 1.5;
}

/************************/

.first-controls {
  position: absolute;
  z-index: 99;
}

.first-controls input[type="checkbox"]:not(:checked) + div {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.first-controls .fas {
  font-size: 30px;
}

.first-controls + div {
  margin-left: 40px;
}

input[type="range"] {
  appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
}

input[type="range"]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* Special styling for WebKit/Blink */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 0.25rem;
  border: 0.2px solid #010101;
  margin-top: 0.5px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

:fullscreen #play-list.move {
  top: 0;
}
@media screen and (max-width: 800px) {
  .file {
    height: 335px;
    width: 240px;
  }

  .file-info {
    height: 335px;
    min-height: 335px;
  }

  .file-cover {
    height: 250px;
  }
}

@media screen and (max-width: 640px) {
  .scroll-container {
    height: calc(100% - 67px);
    min-height: calc(100% - 67px);
  }

  .file {
    height: 335px;
    width: 190px;
  }

  .show-list {
    right: 0;
  }
}
