#tabs-content {
    height: calc(100% - 63px);
}

.d-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.d-manager .d-controls>div>span svg:not(.icon-timescircle),
.d-manager .d-controls>span svg:not(.icon-timescircle) {
    height: 35px;
    width: 35px;
    top: -1px;
}

.d-manager .d-controls>div:first-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.ex-cfg {
    display: inline-block;
    width: 20px;
}

.btn-stop {
    display: none;
}

.running {
    display: initial;
}

.input-group-text {
    padding: 0.2rem 0.1rem 0.2rem 0.35rem;
}

.d-controls .form-control {
    padding: 0.2rem;
}

.d-controls>span {
    display: flex;
}

.d-items {
    width: 100px;
    margin-left: 2px;
}

.d-items>* {
    text-align: center;
    height: 30px;
}

.container {
    width: 100%;
    height: 100%;
}

.t-container {
    position: relative;
    width: 100%;
    min-height: initial;
    height: calc(100% - 45px);
    overflow-x: auto;
    padding-bottom: 5px;
}

.d-table {
    min-width: 800px;
}

.d-table>div:first-child {
    position: sticky;
    background-color: #212529;
    top: 0;
    z-index: 99;
}

.d-table>div:first-child span {
    border-top: 1px solid;
}

.d-table>div:first-child span:first-child {
    border-top-left-radius: 0.25rem;
}

.d-table>div:first-child span:last-child {
    border-top-right-radius: 0.25rem;
}

.d-table>div:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.d-table>div {
    display: flex;
    flex-direction: row;
}

.d-table>div {
    border-bottom: 1px solid;
}

.d-table div>span {
    padding: 0.2rem 0.3rem;
}

.d-table div>span {
    border-right: 1px solid;
}

.d-table div>.col-count {
    width: 55px;
    text-align: center;
    border-left: 1px solid;
}

.d-table div>.col-serv {
    display: flex;
    width: 120px;
    cursor: pointer;
    overflow: hidden;
}

.d-table div>.col-chapt {
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
}

.d-table div>.col-name {
    white-space: nowrap;
    flex-grow: 1;
    width: 300px;
    overflow-x: hidden;
}

.d-table div>.col-date {
    width: 165px;
}

span a:hover {
    cursor: pointer;
    text-decoration: underline;
}


.d-manager #pager {
    margin-left: 5px;
}

.d-manager #pager li svg,
.d-manager #pager li {
    height: 30px;
}

.d-manager #d-items .icon-list {
    top: 0;
    width: 28px;
    height: 23px;
}

.d-manager .d-controls .d-btn .icon {
    top: -3px;
}

@media screen and (max-width: 450px) {
    .t-container {
        height: calc(100% - 36px);
    }

    .d-items {
        display: none;
    }

    .btns span:not(.btn-add, .btn-stop) {
        display: none;
    }

    .d-manager #filter-control {
        max-width: initial;
    }

    .col-serv {
        user-select: none;
    }
}