*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --menu-s-height: 50px;
  outline: none;
}

html,
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at center, #14243d 0, #030611 100%);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  overscroll-behavior: none;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-item {
  position: relative;
  font-size: 1.2rem;
  align-items: center;
}

.nav-item .active {
  border-bottom: 1px solid;
}

#menu a {
  z-index: 99;
  padding: 0px 6px;
  cursor: pointer;
  text-align: center;
  height: 100%;
}

.nav-item:focus,
.nav-item:hover {
  background-color: rgb(2 177 242);
}

#menu .nav-item {
  display: inherit;
}

input,
button {
  overflow: visible;
}

input[type="text"] + span {
  display: none !important;
  position: absolute;
  top: 1px;
  right: 6px;
  z-index: 99;
  color: darkgray;
  font-size: 20px;
}

input[type="text"]:not(:placeholder-shown) + span {
  display: initial !important;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.input-group-prepend {
  display: flex;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.45rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control {
  display: block;
  height: 32px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group .form-control {
  position: relative;
  flex: 1 1 auto;
  height: 30px;
  width: 1%;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-control {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-control:not(:last-child) {
  margin-bottom: 10px;
}

.input-control > * {
  display: inline-block;
  height: 30px;
}

.input-control .input {
  display: block;
  width: 100%;
  padding: 0.25rem 0.35rem;
  font-size: 0.9rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  outline: 0;
}

.input-control .input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-control-group {
  display: flex;
  flex-direction: row;
}
.input-control-group .input-control:first-child {
  margin-right: 5px;
}

.input-label {
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  text-align: center;
  line-height: 1.8;
  font-weight: bold;
  padding: 0 0.2rem;
}

.nav-tabs {
  display: flex;
  justify-content: space-evenly;
  max-width: 440px;
  margin: 0 auto;
}

.nav-tabs .nav-link {
  padding: 5px 10px;
}

input[type="radio"] {
  display: none;
}

.nav-tabs label {
  display: inline-block;
  margin: 0;
  cursor: pointer;
  color: white;
}

.nav-tabs .nav-link span {
  position: relative;
  top: -4px;
  font-size: 16px;
}

.nav-tabs input[type="radio"]:not(:checked) label:hover {
  background-color: #007bff27;
}

.nav-tabs input[type="radio"]:checked + label:hover,
.nav-tabs input[type="radio"]:checked + label {
  position: relative;
  font-weight: 600;
  border: 1px solid;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: transparent;
}

.nav-tabs input[type="radio"]:checked + label:after {
  position: absolute;
  content: " ";
  bottom: -1px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #343a40 !important;
}

.nav-tabs input[type="radio"]:checked + label span {
  display: inline-block;
}

.p-3 {
  padding: 1rem;
}

.bg-dark {
  background-color: #343a40 !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.error:empty {
  display: none;
}

.error {
  color: #f75959;
  text-align: center;
  font-weight: 600;
  padding: 4px 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #343a40;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  border: 1px solid white;
  padding: 5px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.2rem 0.3rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: white;
  transition: 0.3s all;
  background-color: grey;
  background-image: linear-gradient(-120deg, #888888, #555555, #888888);
}

.btn:hover {
  color: white;
  background-image: linear-gradient(-160deg, #888888, #555555, #444444);
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Directory Style */

.table tr {
  border: 2px solid #444444;
}

h4 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.75rem;
}

.text-center {
  text-align: center;
}

svg,
.usn,
.btn,
.table thead,
.modal label,
.modal-header > * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.btn:active {
  transform: scale(1.08);
}

svg path {
  pointer-events: none;
}

.icon-folder-open,
.icon-folder {
  fill: rgb(250, 183, 15);
}

.icon-home {
  fill: rgb(17, 218, 201);
}

.icon-sync,
.icon-edit,
.icon-film {
  fill: rgb(37, 140, 209);
}

.active:not(.completed) .icon-sync {
  fill: white;
}

.completed .icon-sync,
.icon-trash,
.icon-book {
  fill: rgb(202, 48, 48);
}

.icon-heart {
  fill: rgba(248, 224, 6, 0.952);
}

.icon-folder-open + .file-progress {
  background-color: rgba(252, 1, 1, 0.856);
}

.icon-check,
.icon-times {
  fill: black;
}

.icon-spin {
  animation: 2s linear infinite icon-spin;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.32rem 0.4rem;
  color: #343a40;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.list-group-item.active .icon-edit {
  fill: white;
}

.page-link:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-link:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#current-page input {
  height: 30px;
}

body .c-filter {
  position: relative;
}

body .navbar .icon-download,
body .navbar .icon-file,
body .navbar .icon-signout,
body .navbar .icon-folder {
  right: -4px;
}

.badge {
  color: #fff;
  background-color: #007bff;
  padding: 0.2em 0.3em;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.25rem;
}
/*************************Scrollbar Style********************************/

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 123, 255, 0.95);
  box-shadow: inset 0 0 6px rgba(15, 1, 228, 0.9);
}

/****************************************************************/
@keyframes icon-spin {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 790px) {
  #menu .tabs .nav-title {
    display: none;
  }

  #menu a {
    display: inline-block;
    text-align: center;
    width: 40px;
  }

  #menu a.active {
    display: flex;
    width: fit-content;
  }

  #menu li svg {
    transform: scale(1.2);
  }

  #menu a.active .nav-title {
    display: inline-block;
  }

  #menu .icon-folder {
    margin-right: 4px;
  }
}

@media (pointer: none), (pointer: coarse) and (max-width: 800px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

/*************************************************/

/*************************************************************/
